<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">
  <!-- Define a test for Chrome browser -->
    <test thread-count="1" name="TestChrome">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="testrunner.TestRunner"></class>
        </classes>
    </test>
 <!-- Define a test for Firefox browser 
    <test thread-count="1" name="TestFirefox">
        <parameter name="browser" value="firefox" />
        <classes>
            <class name="testrunner.TestRunner"></class>
        </classes>
    </test>
    -->
<!-- Define a test for Safari browser 
    <test thread-count="1" name="TestSafari">
        <parameter name="browser" value="safari" />
        <classes>
            <class name="testrunner.TestRunner"></class>
        </classes>
    </test>
  -->

</suite>