<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite" parallel="tests" thread-count="3">
	
	<test name="DSAlgo Project Execution in chrome">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="testrunner.TestRunner"/>
		</classes>
	</test>
<!--
	<test name="DSAlgo Project Execution in firefox">
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="testrunner.TestRunner"/>
		</classes>
	</test>
	
-->

<!--
<test name="DSAlgo Project Execution in chrome">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="testrunner.FailedRunnerTests"/>
		</classes>
	</test>
	
	-->

</suite>


